<!DOCTYPE html>
<html lang="pt-br" ng-app="app">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>Dashboard</title>
                
        <!-- Estilo css personalizado  -->
        <link rel="stylesheet" href="css/app.css">

        <!-- Importando jQuery e seus componentes -->
        <script src="plugins/jquery/jquery-3.3.1.min.js"></script>
        
        <!-- Importando materialize -->
        <!--Import Google Icon Font-->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <!-- Compiled and minified CSS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">

        <!-- Compiled and minified JavaScript -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>
        <script src="plugins/materialize/init.js"></script>
        
        <!-- Chartjs -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js"></script>
                            
        <!-- Importando angular e seus derivados -->
        <script src="plugins/angular/angular.min.js"></script>
        <script src="plugins/angular/ui-router.min.js"></script>
        <script src="plugins/angular/angular-chart.min.js"></script>
        
        
        
        <!-- Importando componentes personalizados do angular -->
        <script src="js/app.js"></script>
        <script src="js/controllers/systemController.js"></script>
        <script src="js/services/systemService.js"></script>
       
    </head>
    <body ng-controller="systemCtrl">
        <!-- vizualização das páginas -->

        
       
            

        <ul id="slide-out" class="sidenav sidenav-fixed">
                <li><a style="text-align: center" id="nome-projeto">Análise dos Dados Abertos</a></li>
                <li><a style="text-align: center">do Governo Federal</a></li>
                <li><div class="divider"></div></li>
                <li><a class="waves-effect" ng-click="gerarUF()">Número de Acidentes por UF</a></li>
                <li><a class="waves-effect" ng-click="gerarBR()">Número de Acidentes por BR</a></li>
                <li><a class="waves-effect" ng-click="gerarDia()">Número de Acidentes por Dia</a></li>
                <li><a class="waves-effect" ng-click="gerarTipo()">Tipos de Acidente</a></li>
                <li><a class="waves-effect" ng-click="gerarCausa()">Causa dos Acidentes</a></li>
                <li><a class="waves-effect" ng-click="gerarSexo()">Número de Acidentes por Sexo</a></li>
                <li><a class="waves-effect" ng-click="">Sobre</a></li>
              </ul>
              
              <center>
              <main>
                    <div ng-if="requisicao" class="preloader-wrapper big active" style="position: relative; margin-top: 15px">
                            <div class="spinner-layer spinner-blue-only">
                              <div class="circle-clipper left">
                                <div class="circle"></div>
                              </div><div class="gap-patch">
                                <div class="circle"></div>
                              </div><div class="circle-clipper right">
                                <div class="circle"></div>
                              </div>
                            </div>
                          </div>
                   <div class="chart-container" id="chart-container" style="position: relative; height:40vh; width:70vw" >
                        <canvas id="myChart"></canvas>
                   </div> 
              </main>
            </center>
        
        
    </body>
</html>